@import url("config.css");
#tabela-pacientes
{
    text-align: center;
}
#tabela-pacientes th
{
    font-size:1.8rem;
    background-color: #203A40;
    color:white;
    padding:1vh 4vw;
}
#tabela-pacientes td
{
    font-size:1.6rem;
    padding:1vh 4vw;
}