@font-face
{
	font-family: "Ubuntu";
	src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
}
*
{
    margin: 0;
    padding: 0;
	font-family: Ubuntu,sans-serif;
}
html
{
    font-size:10px;
}
#conteudo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#fc4869;
}
.conteudo-bloco
{
    display: flex;
    border-radius: 3vw 1vw 3vw 1vw;
    justify-content: space-between;
    align-items: center;
    width: 72vw;
    padding: 10px;
    text-align: center;
    background-color: white;
    height: 85vh;
    border: solid black 5px;
    box-shadow: black 10px 10px 20px;
}
.conteudo-bloco-img
{
    flex-basis: 50vw;
    
}
.conteudo-bloco-button h1
{
    font-size:4.5rem;
    margin:1vw 0 3vw;
}
.conteudo-bloco-img img
{
    width: 100%;
    height: 70vh;
}
.conteudo-bloco-button
{
    flex-basis: 35vw;
}
.conteudo-bloco-button button
{
    width: 80%;
    font-size:2rem;
    height: 8vh;
    margin: 0.5vw 0;
    border-radius: 0.5vw;
    background-color: #F24B59;
    
}
.conteudo-bloco-button button:hover
{
    cursor: pointer;
    background-color: #BF495E;
    transition: 0.3;
}
.conteudo-bloco-button #rodape
{
    font-size:1.6rem;
    margin:2vw 0;
}
.conteudo-bloco-button #rodape a
{
    color:#F24B59;
    text-decoration: none;
}