@import url("../config.css");
#body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#fc4869;
}
#conteudo
{
    display: flex;
    padding:2vw;
    background-color: white;
    flex-direction: column;
    align-items:center;
    width: 70vw;
    height: 80vh;
    border: solid black 5px;
    box-shadow: black 10px 10px 20px;
    border-radius: 3vw 1vw 3vw 1vw;
}
.conteudo-bloco
{
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.conteudo-bloco-img
{
    flex-basis: 50vw;
    
}
.conteudo-bloco-button h1
{
    font-size:4.5rem;
    margin:1vw 0 3vw;
}
.conteudo-bloco-img img
{
    width: 100%;
    height: 70vh;
}
.conteudo-bloco-button
{
    width: 35vw;
}
.conteudo-bloco-button button
{
    width: 80%;
    font-size:2rem;
    height: 8vh;
    margin: 0.5vw 0;
    border-radius: 0.5vw;
    background-color: #F24B59;
    
}
.conteudo-bloco-button button:hover
{
    cursor: pointer;
    background-color: #BF495E;
    transition: 0.3;
}
#rodape
{
    font-size:1.6rem;
}
 #rodape a
{
    color:#F24B59;
    text-decoration: none;
}
/*Estilização dos inputs*/
.conteudo-bloco-form
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:35vw;
}
.conteudo-bloco-form h1
{
    font-size:3rem;
    color:#203A40;
    margin:1vw 0 2vw;
}

.form-area-input
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-area-input label
{
    font-size:1.5rem;
    align-self: flex-start;
}
.form-area-input input,.form-area-input button
{
    width:100%;
    box-sizing: border-box;
    height: 7vh;
    font-size: 1.4rem;
    margin: 0.5vw 0;
    padding: 0 0 0 1vw;
    border: solid 3px #F24B59;
}
.form-area-input button
{
    height: 9vh;
    font-size: 1.6rem;
    color: white;
    border: none;
    background-color: #F24B59;
    cursor: pointer;
}
.form-area-input button:hover
{
    background-color: #BF495E; 
}
.form-area-footer
{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin:1vw;
    font-size: 1.6rem;
}
.form-area-footer a
{
    text-decoration: none;
    color:#F24B59;
}
.form-area-footer a:hover
{
    color:#BF495E; 
}
